<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @school.kana %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @school.post_code %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @school.tel %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
