<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :school_id %>
    <%= form.text_field :school_id %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="form-group">
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="form-group">
    <%= form.fields_for :tags do |tf| %>
      <%= tf.label :name, "タグ"  %>
      <%= tf.text_field :name, id:"formTagInput", class:"form-control" %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
