<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :school_name_cont, "School Name" %>
    <%= f.text_field :school_name_cont, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :user_username_cont, "User Name" %>
    <%= f.text_field :user_username_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>School</th>
      <th>User</th>
      <th>Rate</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.school.name %></td>
        <td><%= review.user.username %></td>
        <td><%= review.rate %></td>
        <td><%= review.content %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
